@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    .block
    {
        margin-bottom: 60px;
    }


    .cont
    {
        padding: 0 20px;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header .logo img
    {
        height: 40px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns > *.width1of3,
    .form .columns > *.width2of3
    {
        width: calc(100% - var(--form_columns_offset));
    }


    .form .line
    {
        margin-bottom: 20px;
    }


    .form .field.small
    {
        width: 100%;
    }


    .form .file .label
    {
        width: 100%;
        margin-bottom: 20px;
    }


    .form .file .selected
    {
        width: 100%;
    }


    .form .file .selected + label
    {
        width: 100%;
        margin-top: 20px;
    }


    .form .gallery .row > *
    {
        width: calc(50% - 24px);
    }


    .form .gallery .delete_btn
    {
        font-size: 14px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .title
    {
        font-size: 36px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head .now
    {
        display: none;
    }



    /*-----------
        About
    -----------*/
    .about .row
    {
        margin-left: 0;
    }


    .about .row > *
    {
        width: 100%;
        margin-left: 0;
    }



    /*-----------
        Login
    -----------*/
    .login .data
    {
        width: 100%;
        padding: 40px;
    }


    .login .title br
    {
        display: block;
    }


    .login .recovery_link
    {
        font-size: 14px;

        margin-top: 0;
    }


    .login .form .captcha
    {
        margin-bottom: 20px;
    }


    .login .form .submit_btn
    {
        width: 100%;
    }


    .login .register_link
    {
        margin-top: 20px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .data
    {
        padding-right: 24px;
    }


    .contacts_info .data .item .label
    {
        width: 100%;
        margin-bottom: 10px;
    }


    .contacts_info .data .item .val
    {
        width: 100%;
    }



    .contacts_info .map
    {
        height: 360px;
    }



    /*-------------
        LK info
    -------------*/
    .lk_info .lk_data
    {
        padding: 24px;
    }



    .lk_info .form:not(.filter) .section + .section
    {
        margin-top: 50px;
    }


    .lk_info .form:not(.filter) .submit_btn,
    .lk_info .form:not(.filter) .submit.small .submit_btn
    {
        width: 100%;
        padding: 0 20px;
    }



    /*--------------
        Register
    --------------*/
    .register .form .section + .section
    {
        margin-top: 50px;
    }


    .register .form .section .row
    {
        margin-left: auto;
    }


    .register .form .section .row > *
    {
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }


    .register .form .submit_btn
    {
        width: 100%;
        padding: 0 20px;
    }



    /*----------
        Lots
    ----------*/
    .lots .grid
    {
        margin-left: 0;
    }


    .lots .grid > *,
    .content .lots .grid > *
    {
        width: 100%;
        margin-left: 0;
    }



    /*-------------------
        Category info
    -------------------*/
    .category_info .head
    {
        width: calc(100% + 40px);
        margin-right: -20px;
        margin-bottom: 20px;
        margin-left: -20px;
        padding: 24px 20px;
    }


    .category_info .search .line
    {
        width: 100%;
    }


    .category_info .search .submit
    {
        position: absolute;
        z-index: 3;
        top: 0;
        right: 4px;
        bottom: 0;

        width: 50px;
        height: 50px;
        margin: auto 0;
    }


    .category_info .search .submit_btn
    {
        display: flex;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        width: 50px;
        height: 50px;
        padding: 0;

        border-radius: 50%;
    }


    .category_info .search .submit_btn span
    {
        display: none;
    }


    .category_info .search .submit_btn .icon
    {
        display: block;
    }


    .category_info .head .sort .label
    {
        display: none;
    }



    /*--------------
        Lot info
    --------------*/
    .lot_info .main_data .col
    {
        width: 100%;
    }


    .lot_info .main_data .data
    {
        width: 100%;
        margin-top: 24px;
    }


    .lot_info .main_data .features
    {
        margin-top: 40px;
    }


    .lot_info .main_col .head .title
    {
        font-size: 20px;
    }


    .lot_info .btn
    {
        margin-top: 24px;
    }


    .lot_info .new_rate .item .label
    {
        font-size: 14px;
    }



    /*--------------------------------
        Lot info - Auction details
    --------------------------------*/
    .lot_info .auction_details .label
    {
        font-size: 12px;

        width: 120px;
        padding-top: 3px;
    }


    .lot_info .auction_details .val
    {
        width: calc(100% - 140px);

        text-align: right;
    }



    /*--------------------------
        Lot info - Organizer
    --------------------------*/
    .lot_info .organizer .section .title
    {
        font-size: 24px;

        margin-bottom: 20px;
    }


    .lot_info .organizer .label,
    .lot_info .organizer .section .label
    {
        font-size: 12px;

        width: 120px;
        padding-top: 3px;
    }


    .lot_info .organizer .val,
    .lot_info .organizer .section .val
    {
        width: calc(100% - 140px);

        text-align: right;
    }



    /*--------------------------
        Lot info - Documents
    --------------------------*/
    .lot_info .documents .section .title
    {
        margin-bottom: 20px;
    }


    .lot_info .documents .file .name
    {
        width: calc(100% + 122px);
    }


    .lot_info .documents .file .size,
    .lot_info .documents .file .icon
    {
        align-self: flex-end;
    }


    .lot_info .documents .file .icon
    {
        margin-bottom: -4px;
    }



    /*-----------------------------
        Lot info - Table offers
    -----------------------------*/
    .lot_info .table_offers .item .name,
    .lot_info .table_offers .item .date,
    .lot_info .table_offers .item .price
    {
        width: calc(100% - 64px);
    }


    .lot_info .table_offers .item .date,
    .lot_info .table_offers .item .price
    {
        margin-left: auto;
    }


    .lot_info .table_offers .item .price
    {
        margin-top: 16px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding-bottom: 160px;
    }



    footer .links
    {
        height: 132px;

        column-gap: 20px;
        column-count: 2;
    }
}
