@media print,
(max-width: 1439px)
{
    /*-------------------
        Global styles
    -------------------*/
    .block
    {
        margin-bottom: 80px;
    }


    .cont
    {
        padding: 0 24px;
    }



    /*------------
        Header
    ------------*/
    header .contacts .email
    {
        margin-left: 24px;
    }


    header .account
    {
        margin-left: 16px;
        padding-left: 52px;
    }


    header .account .user .name
    {
        font-size: var(--font_size);
    }



    /*---------------
        Page head
    ---------------*/
    .page_title
    {
        font-size: 48px;

        margin-top: 30px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .desc
    {
        font-size: 20px;

        width: 100%;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .line
    {
        margin-bottom: 30px;
    }


    .form .submit_btn
    {
        font-size: 18px;
    }



    /*------------
        Filter
    ------------*/
    .filter
    {
        padding: 40px 24px 60px 0;
    }


    .filter .title
    {
        font-size: 24px;
    }


    .filter .form .reset_btn
    {
        font-size: 18px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        padding-top: 60px;
    }


    .first_section .title
    {
        font-size: 48px;
    }


    .first_section .search
    {
        padding: 40px 48px 80px;

        border-radius: 20px 80px;
    }


    .first_section .search .sub_title
    {
        font-size: 24px;
    }



    /*-----------
        Login
    -----------*/
    .login
    {
        padding: 136px 0 100px;
    }


    .login .data
    {
        width: 680px;
        padding: 60px 100px 80px;
    }


    .login .title
    {
        font-size: 36px;
    }


    .login .register_link
    {
        font-size: 18px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info
    {
        padding-bottom: 100px;
    }


    .contacts_info .data
    {
        width: 600px;

        border-radius: 0 25px 100px 0;
    }


    .contacts_info .data .title
    {
        margin-bottom: 40px;
    }


    .contacts_info .data .item .label
    {
        font-size: 16px;

        width: 180px;
    }


    .contacts_info .data .item .val
    {
        width: calc(100% - 180px);
    }



    .contacts_info .map
    {
        width: calc(100% - 668px);
        margin-right: -24px;
    }



    /*----------
        Lots
    ----------*/
    .lots .lot .thumb
    {
        margin-bottom: 20px;
    }


    .lots .lot .row
    {
        margin-top: 20px;
    }


    .lots .lot .row .val
    {
        font-size: 16px;
    }



    /*-------------------
        Category info
    -------------------*/
    .category_info .head
    {
        margin-bottom: 24px;
        padding: 40px 24px;
    }



    /*------------
        Footer
    ------------*/
    footer .bg
    {
        width: 1500px;
    }



    footer .contacts
    {
        width: 424px;
    }
}
