@media print,
(max-width: 1279px)
{
    /*-------------------
        Global styles
    -------------------*/
    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }


    .wrap
    {
        background: var(--bg2);
    }


    .content_flex .content
    {
        width: 100%;
    }



    /*------------
        Header
    ------------*/
    header
    {
        display: none;
    }



    /*-----------------
        Mob. header
    -----------------*/
    .mob_header
    {
        display: block;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        padding: 40px 0;
    }


    .breadcrumbs
    {
        font-size: 14px;
    }


    .breadcrumbs .sep
    {
        margin: 0 8px;
    }


    .page_title
    {
        font-size: 40px;

        margin-top: 20px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head .desc
    {
        font-size: 18px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .line
    {
        margin-bottom: 24px;
    }


    .form .submit_btn
    {
        font-size: 16px;
    }



    /*-------------
        Sidebar
    -------------*/
    aside
    {
        width: 100%;
        margin-bottom: 24px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .title
    {
        font-size: 40px;
    }


    .first_section .search
    {
        padding: 40px 40px 80px;
    }


    .first_section .search .form .line
    {
        width: calc(100% - 428px);
    }


    .first_section .search .form .line.region
    {
        width: 240px;
    }


    .first_section .search .form .submit
    {
        width: 140px;
    }



    /*-----------
        About
    -----------*/
    .about .row > *
    {
        width: calc(50% - 24px);
    }


    .about .item:first-child
    {
        background: #59606a;
    }

    .about .item:nth-child(2),
    .about .item:nth-child(3),
    .about .item:nth-child(4)
    {
        background-color: #fff;
    }



    /*-----------
        Login
    -----------*/
    .login .data
    {
        width: 600px;
        padding: 60px 80px;
    }


    .login .title
    {
        font-size: 32px;
    }


    .login .recovery_link
    {
        margin-top: -10px;
    }


    .login .form .captcha
    {
        margin-bottom: 30px;
    }


    .login .register_link
    {
        font-size: 16px;

        margin-top: 30px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .data
    {
        width: 100%;
        padding: 40px 60px 40px 0;
    }



    .contacts_info .map
    {
        width: calc(100% + 24px);
        max-width: calc(100% + 24px);
        height: 400px;
        margin-top: 40px;
        margin-right: -24px;
    }



    /*--------------
        Register
    --------------*/
    .register .form .block
    {
        padding: 40px 40px 20px;
    }



    /*-------------
        LK info
    -------------*/
    .lk_menu
    {
        display: none;
    }


    .mob_lk_menu
    {
        display: block;
    }



    /*----------
        Lots
    ----------*/
    .lots .grid > *
    {
        width: calc(33.333% - 24px);
    }



    /*-------------------
        Category info
    -------------------*/
    .category_info aside
    {
        position: fixed;
        z-index: 101;
        right: 100%;
        bottom: 0;

        width: 100%;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 74px 0 0;

        transition: transform .3s linear;
    }

    .category_info aside.show
    {
        transform: translateX(100%);
    }


    .category_info .mob_filter_btn
    {
        display: flex;
    }



    /*------------
        Filter
    ------------*/
    .filter
    {
        overflow: auto;

        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        padding: 30px 16px 60px;

        background: #fff;

        overscroll-behavior-y: contain;
    }

    .filter:before
    {
        display: none;
    }


    .filter .close_btn
    {
        display: flex;
    }


    .filter .title
    {
        display: none;
    }


    .filter .form .line
    {
        margin-bottom: 40px;
    }



    /*------------
        Footer
    ------------*/
    footer .bg
    {
        left: 0;

        transform: none;
    }


    footer .col
    {
        width: 100%;
        margin-bottom: 48px;
    }



    footer .logo
    {
        margin-top: 0;
    }



    footer .links
    {
        column-gap: 48px;
    }



    footer .sep
    {
        display: none;
    }


    footer .sep ~ .sep
    {
        display: block;
    }



    footer .copyright
    {
        width: 100%;
        margin-top: 40px;
    }


    footer .privacy_policy_link
    {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }
}
